/* Carrossel.css */

.carrossel-container {
  width: 90vw;
  margin: 0 auto;
  margin-left: 3vw;
  padding: 1.5vw; /* 20px em rem */
  padding-top: 8vw; /* Espaçamento superior */
}

.slide-content {
  position: relative;
  text-align: center;
}

.slide-content img {
  width: 100%;
  height: auto;
  border-radius: 1vw; /* 10px em rem */
  box-shadow: 0 0.5vw 1vw rgba(0, 0, 0, 0.2); /* 4px e 8px em rem */
}

.slide-text {
  position: absolute;
  bottom: 1.5vw; /* 20px em rem */
  left: 50%;
  transform: translateX(-50%);
  color: white;
  padding: 0.5vw 1.5vw; /* 10px e 20px em rem */
  border-radius: 1vw; /* 5px em rem */
  max-width: 90%; /* Aumenta a largura máxima para telas menores */
}

.slide-text h2 {
  margin: 0;
  font-size: clamp(1.25rem, 4vw, 1.5rem); /* Tamanho responsivo */
}

.slide-text p {
  margin: 0.25vw 0 0; /* 5px em rem */
  font-size: clamp(0.875rem, 3vw, 1rem); /* Tamanho responsivo */
}

/* Estilos personalizados para os botões de navegação e paginação */
.swiper-button-next,
.swiper-button-prev {
  color: #fff;
  padding: 1.5vw; /* 20px em rem */
  border-radius: 50%;
  transition: transform 0.3s ease, background 0.3s ease; /* Transição suave */
}

/* Efeito de hover para aumentar o tamanho das setas */
.swiper-button-next:hover,
.swiper-button-prev:hover {
  transform: scale(1.1); /* Aumenta o tamanho em 20% */
  background: rgba(166, 255, 175, 0.8); /* Muda a cor de fundo ao passar o mouse */
}

/* Estilos para os ícones dentro dos botões */
.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 2.3vw; /* Tamanho do ícone */
}

/* Paginação */
.swiper-pagination-bullet {
  background: #fff;
  opacity: 0.5;
}

.swiper-pagination-bullet-active {
  background: #6abcff;
  opacity: 1;
}

