@media (min-height: 1085px) and (max-height: 1400px) and (min-width: 712px) and (max-width: 1024px){
  .mae-TextoPsica {
      position: relative;
      top: -10vw;
    }
  
    .h1-TextoPsica-1 {
      font-size: 4vw;
    }
  
    .p-TextoPsica-1 {
      color: black;
      font-size: 2.8vw;
    }
  
    .container-TextoPsica-2 {
      margin-bottom: 10vw;
    }
  
    /* Galeria posicionada ao lado direito */
    .galeria-TextoPsica {
      position: relative;
      top: -20vh;
    }
  
    .img-TextoPsica-1,
    .img-TextoPsica-4 {
      width: 100%; /* Imagens se ajustam à largura da galeria */
      max-width: 20vh; /* Evita que fiquem grandes demais */
      border-radius: 0.5rem;
    }
  
    .img-TextoPsica-2,
    .img-TextoPsica-3 {
      width: 100%; /* Imagens se ajustam à largura da galeria */
      max-width: 25vh; /* Evita que fiquem grandes demais */
      border-radius: 0.5rem;
    }
  
    .img-TextoPsica-1 {
      position: relative;
      top: -14vw;
      margin-right: 20vw;
    }
  
    .img-TextoPsica-2 {
      position: absolute;
      margin-right: 18vw;
      margin-top: 10vw;
    }
  
    .img-TextoPsica-3 {
      position: absolute;
      margin-right: 18vw;
      margin-top: 28vw;
    }
  
    .img-TextoPsica-4 {
      position: absolute;
      margin-right: 18vw;
      margin-top: 53vw;
    }
  }
  