@media (min-height: 1085px) and (max-height: 1400px) and (min-width: 712px) and (max-width: 1024px) {
  .mae-fundomaria {
    position: relative;
    top: -5vh;
    height: 35vh;
    margin-top: 12vh;
  }
}
