@media (min-width: 300px) and (max-width: 700px) {
  /* Container principal */
  .mae-fundomaria {
    position: relative;
    top: -2vh;
    height: 35vh;
  }

  .img-fundomaria {
    margin-left: 28vh;
  }

  /* Título */
  .h1-fundomaria-1 {
    position: relative;
    right: 18vw;
    top: -6vw;
    font-size: 3vw;
    font-weight: bold;
    color: #c2185b; /* Rosa escuro */
    text-transform: uppercase;
    letter-spacing: 2px;
    z-index: 0;
  }

  /* Título */
  .h1-fundomaria-2 {
    position: relative;
    right: 43vw;
    top: -0.5vw;
    font-size: 3vw;
    font-weight: bold;
    color: #c2185b; /* Rosa escuro */
    text-transform: uppercase;
    letter-spacing: 2px;
    z-index: 0;
  }

  /* Título */
  .h1-fundomaria-3 {
    position: relative;
    right: 42.5vw;
    top: -0.7vw;
    font-size: 3vw;
    font-weight: bold;
    color: #c2185b; /* Rosa escuro */
    text-transform: uppercase;
    letter-spacing: 2px;
    z-index: 0;
  }

  /* Título */
  .h1-fundomaria-4 {
    position: relative;
    right: 42vw;
    top: -0.5vw;
    font-size: 3vw;
    font-weight: bold;
    color: #c2185b; /* Rosa escuro */
    text-transform: uppercase;
    letter-spacing: 2px;
    z-index: 0;
  }

  /* Título */
  .h1-fundomaria-5 {
    position: relative;
    right: 41vw;
    top: -0.5vw;
    font-size: 3vw;
    font-weight: bold;
    color: #c2185b; /* Rosa escuro */
    text-transform: uppercase;
    letter-spacing: 2px;
    z-index: 0;
  }

  .h1-fundomaria-1{    position: relative;
    right: 5vh;
  }
}

@media (max-width: 400px) {
  .img-fundomaria {
    margin-left: 30vh;
  }


}
