/* Container principal */
.mae-fundomaria {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 16.5vw;
  width: 100%;
  height: 80vh;
}

/* Container da imagem e do título */
.container-fundomaria {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
}

/* Fundo com degradê do branco ao rosa */
.fundo-fundomaria {
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(
    to bottom,
    #ffffff,
    #ffbfd1
  ); /* Branco para rosa */
  padding-top: 3.5vw;
  border-radius: 1vw;
  width: 100vw;
  max-width: 90vw;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  z-index: -1;
}

/* Fundo com degradê do branco ao rosa */
.fundo-fundomaria-2 {
  position: absolute;
  margin-right: 73vw;
  background: linear-gradient(
    to bottom,
    #ffffff,
    #ffbfd1
  ); /* Branco para rosa */
  padding-top: 3.5vw;
  border-radius: 1vw;
  width: 20vw;
  height: 31.5vw;
  max-width: 90vw;
  z-index: 0;
}

/* Imagem */
.img-fundomaria {
  position: relative;
  right: 18vw;
  width: 20vw;
  z-index: 2;
  margin-left: 50vw;
}

/* Imagem */
.img-fundomaria-2 {
  position: absolute;
  right: -4.8vw;
  width: 20vw;
  z-index: 2;
  margin-left: 50vw;
}

/* Título */
.h1-fundomaria-1 {
  position: relative;
  right: 18vw;
  top: -6vw;
  font-size: 3vw;
  font-weight: bold;
  color: #c2185b; /* Rosa escuro */
  text-transform: uppercase;
  letter-spacing: 2px;
  z-index: 0;
}

/* Título */
.h1-fundomaria-2 {
  position: relative;
  right: 43vw;
  top: -0.5vw;
  font-size: 3vw;
  font-weight: bold;
  color: #c2185b; /* Rosa escuro */
  text-transform: uppercase;
  letter-spacing: 2px;
  z-index: 0;
}

/* Título */
.h1-fundomaria-3 {
  position: relative;
  right: 42.5vw;
  top: -0.7vw;
  font-size: 3vw;
  font-weight: bold;
  color: #c2185b; /* Rosa escuro */
  text-transform: uppercase;
  letter-spacing: 2px;
  z-index: 0;
}

/* Título */
.h1-fundomaria-4 {
  position: relative;
  right: 42vw;
  top: -0.5vw;
  font-size: 3vw;
  font-weight: bold;
  color: #c2185b; /* Rosa escuro */
  text-transform: uppercase;
  letter-spacing: 2px;
  z-index: 0;
}

/* Título */
.h1-fundomaria-5 {
  position: relative;
  right: 41vw;
  top: -0.5vw;
  font-size: 3vw;
  font-weight: bold;
  color: #c2185b; /* Rosa escuro */
  text-transform: uppercase;
  letter-spacing: 2px;
  z-index: 0;
}

@media (min-width: 1400px) and (max-width: 2560px) {
  .mae-fundomaria {
    margin-top: 5vh;
  }

  .img-fundomaria {
    margin-right: 10vw;
  }

  .h1-fundomaria-1 {
    right: 18vw;
  }
  .h1-fundomaria-2,
  .h1-fundomaria-3,
  .h1-fundomaria-4,
  .h1-fundomaria-5 {
    right: 48vw;
  }
}
