@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap');

.div-mae-welcome {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: transparent;
  position: absolute;
}

.img-fundo-welcome {
  position: relative;
  left: 0;
  width: 100%;
  height: auto; /* Garante que a altura seja proporcional à largura */
  padding-top: 0; /* Ajuste para não distorcer a imagem */
  z-index: 1;
  transition: transform 0.2s ease;
  object-fit: cover; /* Faz a imagem cobrir toda a área sem distorcer */
}


.letras-logo-welcome{
  position: absolute;
  display: flex;
  justify-content: center; /* Centraliza horizontalmente */
  align-items: center; /* Centraliza verticalmente */
  padding-top: 55vh;
  padding-left: 45vw;
  z-index: 1; /* Garante que esta div fique acima da 'mae-txt-home' */
}

.img-logosozinha-welcome {
  position: absolute;
  width: 10rem;
  padding-bottom: 110vw;
  padding-right: 60vw;
  transition: transform 0.1s ease, opacity 0.3s ease; /* Adicionando transição para transform e opacidade */
}

.img-r-welcome {
  position: absolute;
  width: 2.9vw;
  padding-bottom: 109vw;
  padding-right: 55vw;
  transition: transform 0.1s ease, opacity 0.3s ease; /* Adicionando transição para transform e opacidade */
}

.img-e-welcome {
  position: absolute;
  width: 3.7vw;
  padding-bottom: 109vw;
  padding-right: 48vw;
  transition: transform 0.1s ease, opacity 0.3s ease; /* Adicionando transição para transform e opacidade */
}

.img-s-welcome {
  position: absolute;
  width: 3.1vw;
  padding-bottom: 109vw;
  padding-right: 41vw;
  transition: transform 0.1s ease, opacity 0.3s ease; /* Adicionando transição para transform e opacidade */
}

.img-c-welcome {
  position: absolute;
  width: 3.3vw;
  padding-bottom: 109vw;
  padding-right: 34vw;
  transition: transform 0.1s ease, opacity 0.3s ease; /* Adicionando transição para transform e opacidade */
}

.img-e-2-welcome {
  position: absolute;
  width: 3.7vw;
  padding-bottom: 109vw;
  padding-right: 27vw;
  transition: transform 0.1s ease, opacity 0.3s ease; /* Adicionando transição para transform e opacidade */
}

.img-r-2-welcome {
  position: absolute;
  width: 2.8vw;
  padding-bottom: 109vw;
  padding-right: 20vw;
  transition: transform 0.1s ease, opacity 0.3s ease; /* Adicionando transição para transform e opacidade */
}

.h1-1-letras-welcome,
.h1-2-letras-welcome,
.h1-3-letras-welcome,
.h1-4-letras-welcome {
  font-family: "Caveat", cursive;
  font-optical-sizing: auto;
  font-size: 5.5vw;
  font-weight: 700;
  font-style: normal;
  color: rgb(7, 175, 1);
  text-shadow:
    calc(-0.1vw) calc(-0.1vw) 0 black, /* Usando calc para valores responsivos */
    calc(0.1vw) calc(-0.1vw) 0 black,
    calc(-0.1vw) calc(0.1vw) 0 black,
    calc(0.1vw) calc(0.1vw) 0 black; /* Contorno preto ao redor das letras */
  position: absolute;
  transition: transform 0.1s ease, opacity 0.3s ease; /* Adicionando transição para transform e opacidade */
}


/* Mantendo os valores de padding-top e padding-left */
.h1-1-letras-welcome {
  padding-bottom: 100vw;
  padding-right: 24vw;
}

.h1-2-letras-welcome {
  padding-bottom: 100vw;
  padding-left: 13vw;
}

.h1-3-letras-welcome {
  padding-bottom: 92vw;
  padding-left: 14vw;
}

.h1-4-letras-welcome {
  padding-bottom: 90vw;
  padding-left: 48vw;
}

@media (min-width: 2048px) and (max-width: 3840px) {
  .letras-logo-welcome{
    position: absolute;
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
    padding-top: 45vh;
    padding-left: 45vw;
    z-index: 1; /* Garante que esta div fique acima da 'mae-txt-home' */
  }

  .img-logosozinha-welcome {
    position: absolute;
    width: 10rem;
    padding-bottom: 110vw;
    padding-right: 63vw;
    transition: transform 0.1s ease, opacity 0.3s ease; /* Adicionando transição para transform e opacidade */
  }
}