/* CalendarioConsultas.css */
.calendario-container {
    height: 80vh;
    padding: 20px;
    background-color: #e9d7c6;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #2c2c2c;
  }
  
  .calendario-titulo {
    text-align: center;
    font-size: 2rem;
    color: #2c2c2c;
    margin-bottom: 20px;
    font-weight: bold;
  }
  
  .rbc-calendar {
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  }
  
  .rbc-toolbar {
    background-color: #f6f1ec;
    padding: 10px;
    border-bottom: 1px solid #ccc;
  }
  
  .rbc-toolbar-label {
    font-size: 1.2rem;
    color: #2c2c2c;
  }
  
  .rbc-event {
    background-color: #7b4f2d;
    border: none;
    padding: 4px 8px;
    color: #fff;
    font-weight: bold;
    border-radius: 4px;
  }
  
  .rbc-event-content {
    font-size: 0.9rem;
  }
  
  .rbc-off-range {
    background: #f1e8dd;
  }
  
  .rbc-today {
    background-color: #fff2e5;
  }
  
  .rbc-time-view .rbc-time-slot {
    border-top: 1px dashed #ccc;
  }
  
  .rbc-timeslot-group {
    border-bottom: 1px solid #ddd;
  }
  
  .rbc-time-header-cell {
    color: #444;
    font-weight: 600;
  }
  
  .rbc-header {
    background: #e5d3bc;
    color: #2c2c2c;
    font-weight: bold;
    padding: 10px 0;
    border-bottom: 1px solid #ccc;
  }
  
  
  @media (max-width: 768px) {
    .calendario-container {
      padding: 20px 10px;
      height: auto;
    }
  
    .calendario-titulo {
      font-size: 1.5rem;
    }
  
    .rbc-toolbar button {
      padding: 4px 8px;
      font-size: 0.85rem;
    }
  }
  