@media (min-height: 1085px) and (max-height: 1400px) and (min-width: 712px) and (max-width: 1024px){
  .mae-fundoMateus {
    position: relative;
    top: -5vh;
    margin-top: 13vh;
    height: 35vh;
  }
}
