@media (max-width: 700px) {
  .mae-txt-home {
    top: -28vw; /* Ajuste o valor conforme necessário */
    margin-left: 0.3vh;
    margin-bottom: 1vh;
  }

  .foto-inicio-1 {
    position: relative;
    top: 1vh;
    margin-left: 4.5vh;
  }

  /* Segundo container */
  .container-txt-home-2 {
    position: relative;
    margin-top: 16vh; /* Espaço entre o primeiro e o segundo container */
    margin-bottom: -18vh;
  }

  .foto-inicio-2 {
    display: none;
    position: absolute;
    top: 39vh;
  }
}

@media (max-width: 400px) {
    .foto-inicio-2 {
        position: absolute;
        top: 40vh;
      }
}

